* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ubuntu;
    src: url("/src/assets/fonts/ubuntu.ttf");
    font-display: swap;
}

body,
button,
input {
    font-family: ubuntu;
}

:root {
    --gris: #e0e0e0;
    --gris-oscuro: #797979;
    --verde: #24b624;
    --naranja: #fd9800;
}

nav {
    background-color: var(--gris);
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--verde);
}

nav>a {
    padding: 15px 20px;
}

nav>a:hover {
    background-color: var(--verde);
    transition: .3s;
}

.logo {
    color: var(--verde);
    margin: 0 15px;
}


.products-section,
.bills-section,
.order-section {
    display: flex;
    justify-content: center;
}

.list-section {
    width: 60%;
    padding: 1em;
}

/*Formularios*/
.form-section,
.dataTables-section {
    width: 40%;
    background-color: var(--gris);
    height: 95vh;
}

.header-form {
    background-color: var(--verde);
    color: #fff;
    padding: 10px 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    width: 500px;

}

.form-content {
    display: flex;
    align-items: center;
    margin-top: 8px;

}

.form-content>label {
    width: 30%;
}

.form-content>input {
    width: 80%;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--gris-oscuro);
    padding: 10px 8px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

button {
    width: 100px;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    border: 1px solid var(--gris);
    margin-top: 5px;
}

button:hover {
    border: 1px solid var(--gris-oscuro);
    transition: .3s;
}

.btn-add {
    background-color: var(--verde);
    color: #fff;
}

.error-message {
    color: red;
    height: 5px;
}

/*Tablas*/
.tables-section {
    width: 60%;
}

table {
    border: 1px solid var(--gris);
    width: 100%;
    margin-top: 1em;
}

thead {
    background-color: var(--gris);
}

th,
td {
    width: 25%;
    text-align: left;
    padding: 0.5em;
}

/*Salón*/
.tables-section {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.table {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--gris);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde);
    color: #fff;
    font-size: x-large;
    cursor: pointer;
}

.table:hover {
    box-shadow: 0px 0px 10px 3px var(--naranja);
    transition: .3s;
}

.form-search {
    padding: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-search>input {
    width: 300px;
    outline: none;
    border: none;
    padding: 8px;
    margin-top: 8px;
}

.products-list {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
    position: absolute;
    top: 70px;
}

.content-list {
    display: flex;
    gap: 8px;
    cursor: pointer;
    padding: 8px;
}

.content-list:hover {
    background-color: var(--gris);
}

.order-client {
    margin: 1em;
}

.order-article {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    padding: 5px;
}

.btn-delete {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}