* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ubuntu;
    src: url("/src/assets/fonts/ubuntu.ttf");
    font-display: swap;
}

body,
button,
input {
    font-family: ubuntu;
}

:root {
    --gris: #e0e0e0;
    --gris-oscuro: #797979;
    --verde: #24b624;
    --naranja: #fd9800;
}

nav {
    background-color: var(--gris);
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--verde);
}

nav>a {
    padding: 20px;
}

nav>a:hover {
    background-color: var(--verde);
    transition: .3s;
}

.logo {
    color: var(--verde);
    margin: 0 1em;
}

.products-section,
.bills-section,
.order-section,
.sales-section {
    display: flex;
    justify-content: center;
}

.list-section,
.tables-section {
    width: 60%;
    padding: 1em;
    max-height: 91vh;
    overflow-y: scroll;

}

.form-section {
    width: 40%;
    background-color: var(--gris);
    height: 91vh;
}

.tables-section {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.table {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--gris);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde);
    color: #fff;
    font-size: x-large;
    cursor: pointer;
}

.table:hover {
    box-shadow: 0px 0px 10px 3px var(--naranja);
    transition: .3s;
}

.form-search {
    padding: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-search>input {
    width: 400px;
    outline: none;
    border: none;
    padding: 0.8em;
    margin-top: 0.8em;
}

.products-list {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 400px;
    position: absolute;
    top: 81px;
    border-top: 1px solid black;
}

.container-products-list {
    display: flex;
    gap: 0.6em;
    cursor: pointer;
    padding: 0.6em;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    ;
}

.container-products-list:hover {
    background-color: var(--gris);
}

.client-order-section {
    margin: 1em;
}

.order-container {
    margin-top: 0.8em;
}

.order-article {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    align-items: center;
    padding: 0.7em;
    background-color: #fff;
}

.btn-delete {
    border: transparent;
    background-color: transparent;
    padding: 0;
}

.btn-delete:hover {
    color: var(--gris-oscuro);
    transform: .3s;
}

.total-container {
    background-color: var(--gris-oscuro);
    color: #fff;
    padding: 0.7em;
    font-size: 1.2rem;
}

.header-form {
    background-color: var(--verde);
    color: #fff;
    padding: 0.75em 1em;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    width: 500px;

}

.form-content {
    display: flex;
    align-items: center;
    margin-top: 0.6em;

}

.form-content>label {
    width: 30%;
}

.form-content>input {
    width: 70%;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--gris-oscuro);
    padding: 0.75em 0.6em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield
}

button {
    width: 125px;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--gris);
    margin-top: 5px;
    font-size: 1rem;
}

.buttons-container {
    margin-top: 0.6em;
    display: flex;
    gap: 0.6em;
}


.btn-gray {
    background-color: var(--gris-oscuro);
    color: #fff;
}

.btn-green {
    background-color: var(--verde);
    color: #fff;
}

.btn-gray:hover,
.btn-green:hover {
    border: 1px solid #000;
    transition: .3s;
}

.error-message {
    color: red;
    height: 0.3em;
}

table {
    border: 1px solid var(--gris);
    width: 100%;
    margin-top: 1em;
}

thead {
    background-color: var(--gris);
}

th {
    text-align: center;
    padding: 0.5em;
}

td {
    text-align: left;
    padding: 0.5em;
}

.selected-table {
    display: grid;
    place-content: center;
}

.selected-table>p {
    border: 1px solid black;
    padding: 0.6em;
}

.no-visible {
    display: none;
}

.visible {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--gris);
}

.form-finish-header {
    background-color: var(--gris-oscuro);
    color: #fff;
    padding: 15px 0;
    text-align: center;
}